<a href="https://colab.research.google.com/github/MatthewRomanishin/courses/blob/main/My_first_steps/pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Уникальные значения признаков:
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/drive/My Drive/Introduction to DS/data/adult_data.csv')
data.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [ ]:
people = data['sex'].value_counts()
people

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [ ]:
data[data['sex']=='Female']['age'].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [ ]:
pct = data[data['native-country'] == 'Germany'].shape[0]/data.shape[0]*100
print(f'{pct:.2f}%')

0.42%

In [ ]:
a = 3.141592632847569823
print(f'{a:.2f}')

3.14

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [ ]:
first = data[(data['salary'] == '<=50K')]['age'].agg(['mean','std']).apply(lambda x: round(x, 2))
second = data[(data['salary'] == '>50K')]['age'].agg(['mean','std']).apply(lambda x: round(x, 2))
print(f'Люди, которые получают <= 50K\n{"Среднее:".ljust(10)}{first["mean"]}\n{"STD:".ljust(10)}{first["std"]}')
print(f'Люди, которые получают > 50K\n{"Среднее:".ljust(10)}{second["mean"]}\n{"STD:".ljust(10)}{second["std"]}')

Люди, которые получают <= 50K
Среднее:  36.78
STD:      14.02
Люди, которые получают > 50K
Среднее:  44.25
STD:      10.52

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [ ]:
major = data[(data['salary'] == '>50K')]['education']
edu = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
major.isin(edu).all()

False

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [ ]:
data.groupby(['race','sex'])['age'].describe()

                             count       mean        std  ...   50%    75%   max
race               sex                                    ...
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  ...  36.0  46.00  80.0
                   Male      192.0  37.208333  12.049563  ...  35.0  45.00  82.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  ...  33.0  43.75  75.0
                   Male      693.0  39.073593  12.883944  ...  37.0  46.00  90.0
Black              Female   1555.0  37.854019  12.637197  ...  37.0  46.00  90.0
                   Male     1569.0  37.682600  12.882612  ...  36.0  46.00  90.0
Other              Female    109.0  31.678899  11.631599  ...  29.0  39.00  74.0
                   Male      162.0  34.654321  11.355531  ...  32.0  42.00  77.0
White              Female   8642.0  36.811618  14.329093  ...  35.0  46.00  90.0
                   Male    19174.0  39.652498  13.436029  ...  38.0  49.00  90.0

[10 rows x 8 columns]

In [ ]:
data[(data['race']=="Amer-Indian-Eskimo") & (data['sex'] == 'Male')]['age'].max()

82

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [ ]:
major = data[data['salary'] == '>50K']
status = major['marital-status']
mar = ['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']
status.isin(mar).value_counts()

True     6736
False    1105
Name: marital-status, dtype: int64

In [ ]:
major = data[data['salary'] == '>50K']
status = major['marital-status']
status.apply(lambda x: x[:7] == 'Married').value_counts()

True     6736
False    1105
Name: marital-status, dtype: int64

In [ ]:
major = data[data['salary'] == '>50K']
status = major['marital-status']
status.apply(lambda x: 'Married' in x).value_counts()

True     6736
False    1105
Name: marital-status, dtype: int64

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [ ]:
max_hours = data['hours-per-week'].max()
max_hours

99

In [ ]:
trudogoliki = data[data['hours-per-week'] == max_hours]
trudogoliki.shape[0]

85

In [ ]:
round(trudogoliki[trudogoliki['salary'] == '>50K'].shape[0]/trudogoliki.shape[0]*100, 2)

29.41

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [ ]:
data.groupby(['native-country', 'salary'])[['hours-per-week', 'age']].mean().apply(lambda x: round(x, 2))

                       hours-per-week    age
native-country salary
?              <=50K            40.16  36.85
               >50K             45.55  44.33
Cambodia       <=50K            41.42  35.67
               >50K             40.00  41.43
Canada         <=50K            37.91  41.01
...                               ...    ...
United-States  >50K             45.51  44.30
Vietnam        <=50K            37.19  33.95
               >50K             39.20  35.40
Yugoslavia     <=50K            41.60  38.00
               >50K             49.50  40.17

[82 rows x 2 columns]