<a href="https://colab.research.google.com/github/MatthewRomanishin/courses/blob/main/courses/My_first_steps/pandas_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Здесь оставлены некоторые выводы, чтобы вы сверялись и проверяли свои решения

Получите доступ к гугл диску

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

Импортируйте pandas и numpy

In [ ]:
import pandas as pd
import numpy as np

# Часть 1

Загрузите TSLA.csv

In [ ]:
df = pd.read_csv('/content/gdrive/My Drive/Introduction to DS/data/TSLA.csv')
# это удобно - выводить размер таблицы, и сразу после неё первые строки
# рекомендую всегда делать именно так
print(df.shape)
df.head()

(2416, 7)

         Date       Open   High        Low      Close  Adj Close    Volume
0  2010-06-29  19.000000  25.00  17.540001  23.889999  23.889999  18766300
1  2010-06-30  25.790001  30.42  23.299999  23.830000  23.830000  17187100
2  2010-07-01  25.000000  25.92  20.270000  21.959999  21.959999   8218800
3  2010-07-02  23.000000  23.10  18.709999  19.200001  19.200001   5139800
4  2010-07-06  20.000000  20.00  15.830000  16.110001  16.110001   6866900

Описание `TSLA.csv`: Данные EOD для акций Tesla с 2010 по 2020 год.  

| Column     | Description| 
|------------|---------|
|**Date**| Date|
|**Open**| Opening price|
|**High**| Highest price that day|
|**Low**|Lowest price that day|
|**Close**|Closing price|
|**Adj Close**|Adjusted closing price, taking splits etc into account|
|**Volume**|Trading volume|

Выведите долю случаев, в которых цена акций не изменилась за день

In [ ]:
df[df['Open'] == df['Close']].shape[0] / df.shape[0]

0.0024834437086092716

Создайте колонку `close_open_diff`, которая будет показывать разницу между ценой на момент закрытия и открытия.  
Создайте колонку `high_low_diff`, которая будет показывать разницу между максимальной и минимальной ценой.

In [ ]:
df['close_open_diff'] = df['Close'] - df['Open']
df['high_low_diff'] = df['High'] - df['Low']

Создайте колонку `open_close_diff_pct`, которая будет показывать на сколько процентов изменилась цена с момента открытия до закрытия. Используйте уже созданную колонку.

In [ ]:
df['open_close_diff_pct'] = (df['close_open_diff']/df['Open'])*100

Выведите первые 7 строк датафрейма и проверьте, что всё логично и правильно

In [ ]:
df.head(7)

         Date       Open  ...  high_low_diff  open_close_diff_pct
0  2010-06-29  19.000000  ...       7.459999            25.736837
1  2010-06-30  25.790001  ...       7.120001            -7.599848
2  2010-07-01  25.000000  ...       5.650000           -12.160004
3  2010-07-02  23.000000  ...       4.390001           -16.521735
4  2010-07-06  20.000000  ...       4.170000           -19.449995
5  2010-07-07  16.400000  ...       1.649999            -3.658537
6  2010-07-08  16.139999  ...       1.950000             8.178439

[7 rows x 10 columns]

Создайте колонку `WTo_TbI_TAKOE`, которая будет показывать значение арктангенса от отношения квадрата разности колонок `close_open_diff` и `high_low_diff`, умноженный на 228, к колонке `close_open_diff_pct`, возведённой в степень 3/5, умноженного на 1000 и возведённого в степень 3

In [ ]:
df['WTo_TbI_TAKOE1'] = np.arctan(((df['close_open_diff'] - df['high_low_diff'])**2*228) / (df['open_close_diff_pct']**(3/5)))*1000**3
df['WTo_tbI_TAKOE2'] = np.arctan(((df['close_open_diff'] - df['high_low_diff'])**2*228)/(df['open_close_diff_pct'])**(3/5))*1000**3

In [ ]:

# ответ на самый крайний случай                                                                                                                                                                          df['WTo_TbI_TAKOE'] = np.arctan(((df['close_open_diff'] - df['high_low_diff'])**2*228) / (df['close_open_diff_pct']**(3/5)))*1000**3

Выведите полученный датафрейм

In [ ]:
df

            Date        Open  ...  WTo_TbI_TAKOE1  WTo_tbI_TAKOE2
0     2010-06-29   19.000000  ...    1.566135e+09    1.566135e+09
1     2010-06-30   25.790001  ...             NaN             NaN
2     2010-07-01   25.000000  ...             NaN             NaN
3     2010-07-02   23.000000  ...             NaN             NaN
4     2010-07-06   20.000000  ...             NaN             NaN
...          ...         ...  ...             ...             ...
2411  2020-01-28  568.489990  ...             NaN             NaN
2412  2020-01-29  575.690002  ...    1.570782e+09    1.570782e+09
2413  2020-01-30  632.419983  ...    1.570788e+09    1.570788e+09
2414  2020-01-31  640.000000  ...    1.570736e+09    1.570736e+09
2415  2020-02-03  673.690002  ...    1.570220e+09    1.570220e+09

[2416 rows x 12 columns]

Сколько в полученном датафрейме строк, в которых есть `NaN` (`np.nan`)?  
Выведите их количество и удалите из датафрейма все строки, в которых они есть.

In [ ]:
((df.isnull().sum(axis = 1))>0).sum()

# sum([True for idx,row in df.iterrows() if any(row.isnull())])  Вариант выше, как по мне, проще

1210

In [ ]:
df = df.dropna()

Снова выведите датафрейм и посмотри на индексы. Они идут не подряд - это не очень...

In [ ]:
df

            Date        Open  ...  WTo_TbI_TAKOE1  WTo_tbI_TAKOE2
0     2010-06-29   19.000000  ...    1.566135e+09    1.566135e+09
6     2010-07-08   16.139999  ...    1.531823e+09    1.531823e+09
9     2010-07-13   17.389999  ...    1.560041e+09    1.560041e+09
10    2010-07-14   17.940001  ...    1.495667e+09    1.495667e+09
13    2010-07-19   21.370001  ...    1.558541e+09    1.558541e+09
...          ...         ...  ...             ...             ...
2410  2020-01-27  541.989990  ...    1.570695e+09    1.570695e+09
2412  2020-01-29  575.690002  ...    1.570782e+09    1.570782e+09
2413  2020-01-30  632.419983  ...    1.570788e+09    1.570788e+09
2414  2020-01-31  640.000000  ...    1.570736e+09    1.570736e+09
2415  2020-02-03  673.690002  ...    1.570220e+09    1.570220e+09

[1206 rows x 12 columns]

Обнули индексы и выведи первые 5 строк, чтобы удостовериться, что всё хорошо работает (структура датафрейма должна остаться прежней: никаких лишних строк)

In [ ]:
df = df.reset_index(drop=True)
df.head(5)

         Date       Open  ...  WTo_TbI_TAKOE1  WTo_tbI_TAKOE2
0  2010-06-29  19.000000  ...    1.566135e+09    1.566135e+09
1  2010-07-08  16.139999  ...    1.531823e+09    1.531823e+09
2  2010-07-13  17.389999  ...    1.560041e+09    1.560041e+09
3  2010-07-14  17.940001  ...    1.495667e+09    1.495667e+09
4  2010-07-19  21.370001  ...    1.558541e+09    1.558541e+09

[5 rows x 12 columns]

Выведите таблицу, в которой будет среднее и максимум стоимости акций на конец дня для каждого года

In [ ]:
df['Year']=df['Date'].str.split('-').str.get(0)
df.groupby(['Year'])['Close'].agg(['mean', 'max'])

            mean         max
Year
2010   23.997759   35.470001
2011   27.332891   34.939999
2012   31.684917   38.009998
2013  103.823333  193.369995
2014  224.512834  286.040009
2015  231.314730  282.260010
2016  210.956101  265.420013
2017  313.473822  385.000000
2018  322.372001  379.570007
2019  281.063165  430.940002
2020  544.310004  780.000000

Выведите таблицу, в которой будет медиана, минимум и дисперсия максимальной стоимости акций за день для каждого месяца и округлите до 3-го знака после запятой

In [ ]:
df['Month']=df['Date'].str.split('-').str.get(1)
t_mon = df.groupby(['Month'])['Close']
t_mon.agg(['median','min', 'var']).apply(lambda x: round(x,3))

        median    min        var
Month
01     216.990  24.10  26069.743
02     202.880  22.53  17110.384
03     201.040  22.21  12478.809
04     216.970  25.14  11539.754
05     211.170  26.35   9725.404
06     221.270  23.89  13538.477
07     224.110  17.46  11292.847
08     229.555  18.32  14394.101
09     206.940  20.10  13344.373
10     226.350  20.24  13555.937
11     214.310  21.77  16208.530
12     207.000  26.41  16937.785

# Часть 2

Загрузите googleplaystore.csv

In [ ]:
dg = pd.read_csv('/content/gdrive/My Drive/Introduction to DS/data/googleplaystore.csv')

Описание `googleplaystore.csv`: Данные по приложениям из Google Play Store.  

| Column     | Description| 
|------------|---------|
|**App**|Application name|
|**Category**|Category the app belongs to|
|**Rating**|Overall user rating of the app|
|**Reviews**|Number of user reviews for the app|
|**Size**|Size of the app|
|**Installs**|Number of user downloads/installs for the app|
|**Type**|Paid or Free|
|**Price**|Price of the app|
|**Content Rating**|Age group the app is targeted at|
|**Genres**|An app can belong to multiple genres(apart from its main category)|
|**Last Updated**|Date when the app was last updated on Play Store|
|**Current Ver**|Current version of the app available on Play Store|
|**Android Ver**|Min required Android version|

Выведите все уникальные значения колонки `Installs`

In [ ]:
dg['Installs'].unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+', '0', 'Free'], dtype=object)

Вы должны заметить, что там есть не числовое значение. Выведите, а затем удалите из датафрейма приложения, у которых такое значение в `Installs`

In [ ]:
dg[dg['Installs']=='Free']

                                           App Category  ...  Current Ver Android Ver
10472  Life Made WI-Fi Touchscreen Photo Frame      1.9  ...   4.0 and up         NaN

[1 rows x 13 columns]

In [ ]:
dg = dg.drop(np.where(dg['Installs'] == 'Free')[0])
dg = dg.reset_index(drop=True)
dg

                                                     App  ...         Android Ver
0         Photo Editor & Candy Camera & Grid & ScrapBook  ...        4.0.3 and up
1                                    Coloring book moana  ...        4.0.3 and up
2      U Launcher Lite – FREE Live Cool Themes, Hide ...  ...        4.0.3 and up
3                                  Sketch - Draw & Paint  ...          4.2 and up
4                  Pixel Draw - Number Art Coloring Book  ...          4.4 and up
...                                                  ...  ...                 ...
10835                                   Sya9a Maroc - FR  ...          4.1 and up
10836                   Fr. Mike Schmitz Audio Teachings  ...          4.1 and up
10837                             Parkinson Exercices FR  ...          2.2 and up
10838                      The SCP Foundation DB fr nn5n  ...  Varies with device
10839      iHoroscope - 2018 Daily Horoscope & Astrology  ...  Varies with device

[10840 rows x 13 columns]

Оставьте только те приложения, которые были установлены хотя-бы 100 раз и обновите индексацию, а после этого выведите таблицу

In [ ]:
dg.drop(np.where(dg['Installs'] <'100')[0])
dg = dg.reset_index(drop=True)
dg

                                                     App  ...         Android Ver
0         Photo Editor & Candy Camera & Grid & ScrapBook  ...        4.0.3 and up
1                                    Coloring book moana  ...        4.0.3 and up
2      U Launcher Lite – FREE Live Cool Themes, Hide ...  ...        4.0.3 and up
3                                  Sketch - Draw & Paint  ...          4.2 and up
4                  Pixel Draw - Number Art Coloring Book  ...          4.4 and up
...                                                  ...  ...                 ...
10835                                   Sya9a Maroc - FR  ...          4.1 and up
10836                   Fr. Mike Schmitz Audio Teachings  ...          4.1 and up
10837                             Parkinson Exercices FR  ...          2.2 and up
10838                      The SCP Foundation DB fr nn5n  ...  Varies with device
10839      iHoroscope - 2018 Daily Horoscope & Astrology  ...  Varies with device

[10840 rows x 13 columns]

Выведите количество уникальных значений в столбце `Size`

In [ ]:
dg['Size'].unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '74M', '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M',
       '71M', '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k',
       '899k', '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M',
       '89M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '239k', '371k', '220k', '730k', '756k', '91k',
       '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k',
       '81k', '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '222k', '219k', '55k', '948k', '323k',
       '691k', '511k', '951k', '963k', '25k', '554k', '351k', '27k',
       '82k', '208k', '913k', '514k', '551k', '29k', '103k', '898k',
       '743k', '116k', '153k', '209k', '353k', '499k', '173k', '597k',
       '809k', '122k', '411k', '400k', '801k', '787k', '237k', '50k',
       '643k', '986k', '97k', '516k', '837k', '780k', '961k', '269k',
       '20k', '498k', '600k', '749k', '642k', '881k', '72k', '656k',
       '601k', '221k', '228k', '108k', '940k', '176k', '33k', '663k',
       '34k', '942k', '259k', '164k', '458k', '245k', '629k', '28k',
       '288k', '775k', '785k', '636k', '916k', '994k', '309k', '485k',
       '914k', '903k', '608k', '500k', '54k', '562k', '847k', '957k',
       '688k', '811k', '270k', '48k', '329k', '523k', '921k', '874k',
       '981k', '784k', '280k', '24k', '518k', '754k', '892k', '154k',
       '860k', '364k', '387k', '626k', '161k', '879k', '39k', '970k',
       '170k', '141k', '160k', '144k', '143k', '190k', '376k', '193k',
       '246k', '73k', '658k', '992k', '253k', '420k', '404k', '470k',
       '226k', '240k', '89k', '234k', '257k', '861k', '467k', '157k',
       '44k', '676k', '67k', '552k', '885k', '1020k', '582k', '619k'],
      dtype=object)

Выведите таблицу, в которой будет количество, а также минимум, максимум, и среднее оценок игр по типу и возрастному рейтингу

In [ ]:
games = dg[dg['Category']=='GAME']
games_rating = games.groupby(['Type', 'Content Rating'])['Rating']
games_rating.agg(['count','min','max','mean'])

                     count  min  max      mean
Type Content Rating
Free Everyone          528  1.0  5.0  4.279356
     Everyone 10+      121  3.4  4.8  4.347107
     Mature 17+         70  3.7  4.6  4.251429
     Teen              301  2.3  4.8  4.260133
Paid Everyone           41  3.3  5.0  4.336585
     Everyone 10+        9  3.4  4.7  4.344444
     Mature 17+          4  4.2  4.6  4.450000
     Teen               23  3.7  5.0  4.434783

Кажется, нам не нужны столбцы `'Last Updated', 'Current Ver', 'Android Ver'`, выбросите их

In [ ]:
columns = ['Last Updated','Current Ver','Android Ver']
dg.drop(columns, inplace=True, axis=1)

Так как дальше мы будем работать с ценами, колонку `Price` необходимо перевести в численный тип данных, сделайте это

In [ ]:
dg['Price'] = pd.to_numeric(dg['Price'].map(lambda x: x.lstrip('$'))) 
# dg['Price'] = dg['Price'].map(lambda x: x.lstrip('$')).astype(int)

Проверьте, получилось ли

In [ ]:
dg.dtypes

App                object
Category           object
Rating            float64
Reviews             int64
Size               object
Installs           object
Type               object
Price             float64
Content Rating     object
Genres             object
dtype: object

Почему-то колонка `Reviews` здесь не `int`, приведите её к нему

In [ ]:
dg['Reviews'] = dg['Reviews'].astype(int)

Снова проверьте типы данных в предыдущей ячейке

Сделайте выборку приложений, в названии которых встречается photo (регист не важен) или рейтинг которых не меньше 4.5, при этом, цена должна быть меньше 1 доллара, а ограничений по возрастной группе не было бы, далее положите её в переменную `df_selected`, обнулите индексацию и выведите. Далее работа будет вестись в `df_selected`

In [ ]:
df_selected = dg[(dg['App'].str.contains('Photo') | (dg['Rating']>=4.5)) & (dg['Price']<1) & (dg['Content Rating']=='Everyone')]
df_selected = df_selected.reset_index(drop = True)
df_selected

                                                    App  ...                   Genres
0        Photo Editor & Candy Camera & Grid & ScrapBook  ...             Art & Design
1     U Launcher Lite – FREE Live Cool Themes, Hide ...  ...             Art & Design
2               Smoke Effect Photo Maker - Smoke Editor  ...             Art & Design
3                         Kids Paint Free - Drawing Fun  ...  Art & Design;Creativity
4                               Text on Photo - Fonteee  ...             Art & Design
...                                                 ...  ...                      ...
2288                     Bulgarian French Dictionary Fr  ...        Books & Reference
2289                                        Chemin (fr)  ...        Books & Reference
2290                                   Sya9a Maroc - FR  ...                Education
2291                   Fr. Mike Schmitz Audio Teachings  ...                Education
2292      iHoroscope - 2018 Daily Horoscope & Astrology  ...                Lifestyle

[2293 rows x 10 columns]

Замените все количество отзывов в приложении на  `np.nan`, если его рейтинг  больше, чем `4.8`. Далее замените все NaN'ы на среднее количество отзывов по `df` (не по `df_selected`).

In [ ]:
df_selected.loc[df_selected.Rating > 4.8, 'Reviews'] = np.nan
mean_rew = dg['Reviews'].mean()
df_selected['Reviews'] = df_selected['Reviews'].replace(np.nan, mean_rew)


Какие-то левые предупреждения... Они могут быть и полезными, но, зачастую просто не нужны. Убираются они просто:

In [ ]:
import warnings
warnings.filterwarnings('ignore')

Теперь в полученном дата фрейме выберите все строки с 100-й по 400-ю и 4 любые колонки, расположите их не в том порядке, в котором они стояли изначально и отсортируйте датафрейм по любым двум колонкам: по первой по убыванию, а по второй по возрастанию. Полученный датафрейм выведите

In [ ]:
data = df_selected.loc[100:400, ['Rating','Reviews','Price','App']]
data.sort_values(['Rating','Reviews'], ascending = [False,True])

     Rating  ...                                                App
100     5.0  ...                       Hojiboy Tojiboyev Life Hacks
197     5.0  ...                                   SUMMER SONIC app
198     5.0  ...                                         Prosperity
200     5.0  ...                          Mindvalley U Tallinn 2018
394     5.0  ...                                       Eternal life
..      ...  ...                                                ...
209     4.5  ...                                     Bank of Brazil
109     4.5  ...         Dolphin Browser - Fast, Private & Adblock🐬
102     4.5  ...                      Opera Mini - fast web browser
108     4.5  ...                      Opera Mini - fast web browser
113     4.5  ...  Truecaller: Caller ID, SMS spam blocking & Dialer

[301 rows x 4 columns]

Спасибо за решение!

Не затронутые темы:
* merge - [склеивание таблиц по колонкам](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html#pandas.DataFrame.merge)
* shift - [сдвиги значений по колонкам (или индексам)](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shift.html#pandas.DataFrame.shift)
* rolling - [скользящие окна (скользящее среднее и тп)](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rolling.html#pandas.DataFrame.rolling)
* clip - [обрезание значений сверху и снизу](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.clip.html#pandas.DataFrame.clip)
* drop_duplicates - [отбрасыванеи дубликатов](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html#pandas.DataFrame.drop_duplicates)
* pivot - [специальный решейпинг по колонкам и индексам](https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html)  
(сам не особо понимаю => пользуюсь в крайнем случае)
* stack - [специальный решейпинг по индексам](https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html#reshaping-by-stacking-and-unstacking)  
(сам не особо понимаю => пользуюсь в крайнем случае)
* melt - [обратный pivot](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.melt.html#pandas.DataFrame.melt)  
(сам не особо понимаю => пользуюсь в крайнем случае)

А также куча агрегирующих функций, способов выбора под-датафрейма, бинарых операций, работа с другими типами файлов (типа .xlsx), переименование колонок и другой функционал, которым почти наверняка не будешь пользоваться